

.colored-section-navigation{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0,0.5)),url(images/osman-rana-DHMlx0Osvg8-unsplash.jpg);
     background-attachment: fixed;
}

.main{
  background: linear-gradient(rgba(0,0,0,0.6),rgba(212, 47, 47, 0.6));
}




body {
  font-family: "Montserrat";
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* Headings */

.big-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Containers */

.container-fluid{
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar */


.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light";
    border-bottom: 20px;
}

/* Buttons */

.download-button {
  margin: 5% 3% 5% 0;
}

/* Title Section */

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

#title .container-fluid {
  padding: 0% 15% 0%;
}

/* Title Image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

/* Testimonial Section */

#testimonials {
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(images/osman-rana-DHMlx0Osvg8-unsplash.jpg);
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}



.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.press-logo:hover{
    transform: scale(2);
}

/* Pricing Section */

#pricing {
  padding: 75px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

/* CTA Section */


/* Footer Section */


.social-icon {
  margin: 20px 10px;
}

@media (max-width: 1028px) {

  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}


.title{
    text-align: center;
}


.lap-img{
    width: 50%;
    height: 50%;
    
}




.check{
    width: 10%;
    
}

.microsoft{
    height: 32.7%;
    width: 32.7%  ;
}

.hp1{
    height: 61.5%;
    width: 61.5%  ;
}





.xiomi{
    height: 33%;
    width: 33%  ;
}

.lap-img:hover{
     transform: scale(2);
}


#carouselExampleSlidesOnly{
 height: 50%;
    width: 50%;
    margin-left: 25%;
}

.footer{
     padding: 2% 15%;
    
}

.social-icon:hover{
    transform: scale(2);
}
.star-icon {
  color: #ddd;
  font-size: 34px;
  position: relative;
}
.star-icon.full:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  left: 0;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
.star-icon.half:before {
  color: #FDE16D;
  content: '\2605'; /* Full star in UTF8 */
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  text-shadow: 0 0 2px rgba(0,0,0,0.7);
}
